body {
    background-color: #f8f8f8;
    min-height: 100vh;
}
.logo {
    width: 90px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid black;
}
.header {
    background: #d8b8eb !important;
}
.form-container {
    margin-top: 140px;
}
.btn-dark:hover {
    background-color: #333333;
}
.btn-spacing {
    margin-top: 10px;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background: #e0e0e0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #d8b8eb !important;
    padding: 8px !important;
    font-size: 0.9rem;
}
