body {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.logo {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid black;
}
.navbar {
    background: #d8b8eb !important;
    padding-top: 2px !important;
    padding-bottom: 10px !important;
}
.navbar button.btn {
    font-size: 0.9rem;
    padding: 0.05rem 0.5rem;
}
.navbar .btn-light {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
}
.search-bar {
    width: 100%;
    max-width: 220px;
    height: 2rem;
    font-size: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.cart-container {
    flex: 1;
}
.cart-item {
    background: #b3b3b3;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.quantity {
    background: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}
.summary {
    background: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background: #e0e0e0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #d8b8eb !important;
    padding: 8px !important;
    font-size: 0.9rem;
<<<<<<< HEAD
}
=======
}
>>>>>>> dd9d09665a3b65e7b99ac5df0674ffb66f7b1e0e
