body {
    background-color: #f8f8f8;
    overflow-x: hidden;
    text-align: center;
}
.logo {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid black;
}
.navbar {
    background: #d8b8eb !important;
    padding-top: 2px !important;
    padding-bottom: 10px !important;
}
.navbar button.btn {
    font-size: 0.9rem;
    padding: 0.05rem 0.5rem;
}
.navbar .btn-light {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
}
<<<<<<< HEAD
.btn-dark {
    background: black;
    color: white;
    margin-bottom: 120px;
}
=======
>>>>>>> dd9d09665a3b65e7b99ac5df0674ffb66f7b1e0e
.search-bar {
    width: 100%;
    max-width: 220px;
    height: 2rem;
    font-size: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.shipping-container {
    border: 2px solid #d8b8eb;
    border-radius: 10px;
    background: #f3e8ff;
    padding: 10px;
}
<<<<<<< HEAD
=======
.btn-dark {
    background: black;
    color: white;
    margin-bottom: 120px;
}
>>>>>>> dd9d09665a3b65e7b99ac5df0674ffb66f7b1e0e
.radio-button {
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}
.selected {
    background: black;
}
.price-container {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background: #e0e0e0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #d8b8eb !important;
    padding: 8px !important;
    font-size: 0.9rem;
<<<<<<< HEAD
}
=======
}
>>>>>>> dd9d09665a3b65e7b99ac5df0674ffb66f7b1e0e
